.about {
  width: 830px;
  margin: 0 auto 0 148px;
  padding: 20px 0;
}

.about__title {
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #fff;
}

.about__quote {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 34px;
  color: #fff;
}

.about__quote-author {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #fff;
  text-align: right;
}

.about__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

@media (max-width: 1024px) {
  .about {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
