.city {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto;
}

.city__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px 0;
}
.city__detail-title {
  font-size: 72px;
  line-height: 76px;
  font-family: "Inter";
  font-weight: 900;
  color: #fff;
}
.city__detail-image {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}
.city__detail-image:hover {
  opacity: 0.5;
}
.city__info-btn {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  border: none;
  border-radius: 4px;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}
.city__info-btn:hover {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}
.city__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2% 0 5%;
}
.city__description-title {
  font-family: "Inter";
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 15px;
}

.city__description-author {
  margin-top: -5px;
  font-family: "Inter";
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  font-weight: 400;
}

.city__description-text {
  font-family: "Inter";
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 544px) {
  .city__info {
    grid-template-columns: repeat(1, 1fr);
  }
  .city__detail-title {
    font-size: 3rem;
  }
  .city__info-btn {
    margin-top: 20px;
    width: 95%;
  }
}
