.gallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
	width: 95%;
	margin: 100px auto;
}

.gallery__image{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px){
	.gallery{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 544px){
	.gallery{
		grid-template-columns: repeat(1, 1fr);
	}
}